@model Forum.Web.Models.RegisterModel
@{
    ViewBag.Title = "注册";
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>注册新帐户</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.AccountName)
                @Html.TextBoxFor(m => m.AccountName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <button type="submit" class="btn">注册</button>
        @Html.ValidationSummary()
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/content/jquery")
}
