@model IEnumerable<Forum.Web.Models.SectionAndStatisticModel>
@{
    ViewBag.Title = "ENode论坛-首页";
}

@Html.Partial("_BreadcrupbPartial", new List<Tuple<string, string>>() { })

<div class="ibox-content forum-container">
    <div class="forum-title">
        <div class="pull-right forum-desc">
            <samll>总帖子数： @Model.Sum(x => x.PostCount)</samll>
        </div>
        <h3>主版</h3>
    </div>

    @foreach (var item in Model)
    {
        <div class="forum-item active">
            <div class="row">
                <div class="col-sm-10">
                    <div class="forum-icon">
                        <i class="fa fa-shield"></i>
                    </div>
                    @Html.ActionLink(item.Name.ToString(), "Index", "Post"
                    , new
                    {
                        sectionId = item.Id
                    }, new
                    {
                        @class = "forum-item-title"
                    })
                    <div class="forum-sub-title">@item.Description</div>
                </div>
                <div class="col-sm-1 forum-info">
                    <span class="views-number">
                        @item.PostCount
                    </span>
                    <div>
                        <small>帖子</small>
                    </div>
                </div>
                <div class="col-sm-1 forum-info">
                    <span class="views-number">
                        @item.ReplyCount
                    </span>
                    <div>
                        <small>回复</small>
                    </div>
                </div>
            </div>
        </div>
    }

</div>
