@model IEnumerable<Forum.Web.Models.PostListModel>
@{
    ViewBag.Title = "帖子列表";
}
<div ng-controller="PostController">
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="60%" class="vertical-center">
                    标题
                </th>
                <th width="15%" class="text-center vertical-center">
                    发帖人
                </th>
                <th width="10%" class="text-center vertical-center">
                    回复数
                </th>
                <th width="15%" class="text-center vertical-center">
                    最新回复
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var post in Model)
            {
                <tr>
                    <td class="vertical-center">
                        @Html.ActionLink(post.Subject, "detail", new { id = post.Id }, new { target = "_blank" })
                    </td>
                    <td class="text-center vertical-center">
                        @Html.ActionLink(post.AuthorName, "index", new { authorId = post.AuthorId }, new { target = "_blank" })
                        <br />
                        @post.CreatedOn
                    </td>
                    <td class="text-center vertical-center">
                        @post.ReplyCount
                    </td>
                    <td class="text-center vertical-center">
                        @if (post.MostRecentReply != null)
                        {
                            @Html.ActionLink(post.MostRecentReply.AuthorName, "index", new { authorId = post.MostRecentReply.AuthorId }, new { target = "_blank" })<br />
                            @post.MostRecentReply.CreatedOn
                        }
                        else
                        {
                            @Html.Raw("-")
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
