<!DOCTYPE html>
<html lang="zh" id="forum" ng-app="forum">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/content/bootstrap/css/t")
    @Styles.Render("~/content/css/t")
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="site-header">
            <div class="collapse navbar-collapse navbar-left">
                <a class="site-brand" href="/"></a>
                <a class="site-name" href="/">ENode Forum</a>
            </div>
            <div class="collapse navbar-collapse">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col-lg-2 sidebar-left">
            @{Html.RenderAction("Index", "Section");}
        </div>
        <div class="col-lg-10 content">
            @RenderBody()
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <hr>
            <footer class="text-center">
                <p>Developed by netfocus.</p>
            </footer>
        </div>
    </div>
    <script>
        @functions{
            string TokenHeaderValue()
            {
                string cookieToken, formToken;
                AntiForgery.GetTokens(null, out cookieToken, out formToken);
                return cookieToken + ":" + formToken;
            }
        }
        var requestVerificationToken = '@TokenHeaderValue()';
    </script>
    @Scripts.Render("~/content/jquery/t")
    @Scripts.Render("~/content/bootstrap/js/t")
    @Scripts.Render("~/content/angularjs/t")
    @Scripts.Render("~/content/bootbox/t")
    @Scripts.Render("~/content/js/t")
    @RenderSection("Scripts", required: false)
</body>
</html>
